*{
    margin:0;
    padding:0;
}

.container{
    background-color: blueviolet;
    display:flex;
}

.header-containerone{
    display:flex;
    width:30%;
}

.logoname{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.logo{
    color:yellow;
    font-size: 45px;
}

.txt1 h3,.txt2 h4{
    color:white;
    font-size: 15px;
}

.header-containertwo{
    
    display: flex;
    flex-direction: row;
    color:white;
    justify-content:space-between;
    width: 100%;
    align-items: center;
}

.main{
    background-image: url('one.jpg');
    width:100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: blur(0.4px);
}


.subjectone h1{
    color: white;
    font-size: 50px;
}

span{
    color:yellow;
}

.subjecttwo h3{
    color:white;
    font-weight: bolder;
}

.button button{
    background-color: yellow;
    color: black;
    padding: 10px;
    border: 2px solid white;
}

.subjectone,.subjecttwo{
    margin-bottom: 10px;
}




    
    